<h1>Add A New Photo</h1>

<form action="/create_photo">
<div><label>Caption:</label>
<input type ="text" name="photo_caption"></div>

<div><label>Image URL:</label>
<input type ="text" name="photo_source"></div>

<button>Create Photo</button>
</form>

<!-- Added back functionality..since it seemed useful -->
<a href="/photos">Back</a>
